*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2? family=Hanken+Grotesk:ital,wght@1,600&display=swap');

body{
  font-family: 'Hanken Grotesk', sans-serif;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
  font-family: ;
}

.container{
  display: flex;
  box-shadow: 18px 20px 20px 1px #0000ff0d;
  border-radius: 30px;
  width: 50%;
  flex-wrap: wrap;
}

.container-item{
  flex: 1;
  padding: 30px;
}

.result-content{
  background-color: #5d3efb;
  border-radius:30px ;
  text-align: center;
  color: white;
}

.result-content h4{
  color: #ab9afd;
}

.result-content .result-desciption {
  color: #ab9afd;
  font-size: 14px;
}

.result-content .circle{
  height: 150px;
  width: 150px;
  background:linear-gradient(#4a24cf,#4633ed);
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-content .circle p{
  font-size: 60px;
}

.result-content .circle span{
  color: #ab9afd;
  font-size:12px ;
}

.result-content  h3{
   font-size: 23px;
   margin-bottom: 20px ;
}

.item-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin:  20px 0;
}

.item-summary span{
  color:#a49fa6;
}

.item-summary img{
  margin: 0 7px;
  width: 15px;
  height: 15px;
}

.Reaction{
background-color: #fff6f5;
}

.Reaction strong{
  color: #ff7373;
}

.Memory{
  background-color: #fffbf2;
}

.Memory strong{
  color:#ffc350;
}

.Verbal{
  background-color: #f2fbfa;
}

.Verbal strong{
color: #4fd0b1;
}

.Visual{
  background-color:#f3f3fd;
}

.Visual strong{
  color: #5868e1;
}

button{
  color: white;
  background-color:  #303b59;
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 7px ;
}

button:hover{
  background-color:#5d3efb;
}

@media screen and (max-width:570px){
  .container{
    flex-direction: column;
    width: 85%;
  }
}